<div>
  <h1>Nuevo evento</h1>

  <form name="myForm" id="form">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Nombre" [ngModelOptions]="{standalone: true}" [(ngModel)]="nombre">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [ngModelOptions]="{standalone: true}" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <input type="file" (change)="recibe($event)" />
      <br>

      <mat-form-field>
        <textarea matInput placeholder="Descripción" [ngModelOptions]="{standalone: true}" [(ngModel)]="descr"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ciudad" [ngModelOptions]="{standalone: true}" [(ngModel)]="city">
      </mat-form-field>

    </div>
  </form>

  <button mat-raised-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button (click)="obtener()" color="accent">Guardar</button>
</div>